agm-map {
  height: 100%!important;
}
/*.scroll-wrapper{
	overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
    display: none;
  }*/

.vehicle{
	width: 20%;
	display: inline-block;
	margin-bottom: 8px;
}
.txt{
	padding: 6px 0px;
    text-transform: uppercase;
    font-size: 0.5rem;
} 
.vehicle img{width: 50%;}
.vehicle img.active{
	background-color: #bfbfbf;
	padding: 6px;
	border-radius: 50%;
}
.vehicle a{line-height:30px;}
.v-card {
	display: flex;
	overflow-x: auto;
}
.row{margin: 0;}

.form-group{
	margin-bottom: 0.3rem;
}
.tab-pane{overflow: auto;}

#map-canvas {
  height: 100%;
  position: absolute; 
  /*position: relative;*/
  top: 10%; 
  /*bottom: -200px;*/
  left: 0; 
  right: 0; 
  z-index: 0;
}
.form-control{
	padding: 0.2rem 0.75rem!important;
	min-height: 22px;
	line-height: 1;
	font-size:0.6rem;
}
.card-body{padding: 0.3rem;}

#pick-form {
  z-index: 1;
  margin-top: 0.2rem;
  position: relative;
}
.left-fc{
	width: 20%;
	float: left;
	background: #f2f2f2;
	color: #555;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	padding-left: 0.5rem;
	line-height: 22px;
	font-size: 0.6rem;
}
.right-fc{
	width: 80%;
	float: left;
	margin-left: -1px;
}
.r-input{
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	border-left:0;
}
.book-btn{    
	margin-bottom: 0;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: #ffffff;
    background-color: #444;
}
.nav-link{padding: 0.1rem 1rem;}

hr{ margin: 5px 0px;}
.input-group-append .btn{line-height: 0.5; font-size: 0.6rem;}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.0625rem + 0px);
}
input[type=date]{
	border-right: 0;
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}
input[type=time]{
	border-left:0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}
.btn-danger{
	line-height: 0.5;
    font-size: 0.6rem; 
 }
input[type=date], input[type=datetime-local], input[type=month], input[type=time]{font-size: 0.6rem;}
.right-half{width: 50%; float: left;}
.v-tab{position: fixed; bottom: 0%; width: 100%; }
.modal-header{padding: 0.2rem;}
.mb-b{margin-bottom: 0.3rem;}
.modal{top:45%;}
.modal .left-fc{width:35%;}
.modal .right-fc{width: 65%;}
@media (min-width: 768px){
	.v-tab{width: 85%;}
	.left-fc{width: 10%;line-height: 30px;font-size: 0.8rem;}
	.right-fc{width: 90%;}
	.book-btn{ width: 85%;}
	input[type=date], input[type=datetime-local], input[type=month], input[type=time]{font-size: 0.85rem;}
	.form-control{ min-height: 30px;line-height: 1.5;font-size: 0.8rem;}
	.nav-link{padding: 0.5rem 1rem;}
	.vehicle img{width: 50px;}
	.modal-header{padding: 0.8rem;}
	.modal{top:40%;}
	.modal .left-fc{width:35%;}
	.modal .right-fc{width: 65%;}
}

