<app-header></app-header>
<app-left-sidebar></app-left-sidebar>
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
	<!-- ============================================================== -->
	<!-- Container fluid  -->
	<!-- ============================================================== -->
	<div class="container-fluid">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h4 class="text-themecolor">My Rides</h4>
			</div>
			<div class="col-md-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item active">My Rides</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Start Page Content -->
		<!-- ============================================================== -->
		<!-- Row -->
		<div class="card">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs profile-tab" role="tablist">
				<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#currentRides" role="tab">Current Rides</a> </li>
				<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#upcomingRides" role="tab">Upcoming Rides</a> </li>
				<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#pastRides" role="tab">Past Rides</a> </li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="currentRides" role="tabpanel">
					<div class="card-body">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Current Rides</h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>User Name</th>
													<th>Pickup Address</th>
													<th>Drop Address</th>
													<th>Amount</th>
													<th>Payment Status</th>
													<th>Ride Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="javascript:void(0)">ID001012</a></td>
													<td>28, Viman Nagar, Pune - 423672</td>
													<td>135, Laxmi Road, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-warning">Ongoging</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID001210</a></td>
													<td>68, Charu Apartments, Vishal Nagar, Pune</td>
													<td>135, Baner, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-warning">Ongoging</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID002134</a></td>
													<td>275, Shivaji Nagar, Pune - 423672</td>
													<td>450, Tilak Road, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-warning">Ongoging</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID001345</a></td>
													<td>16, Hadapsar, Pune - 423672</td>
													<td>2, Swargate, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-warning">Ongoging</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="upcomingRides" role="tabpanel">
					<div class="card-body">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Upcoming Rides</h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>User Name</th>
													<th>Pickup Address</th>
													<th>Drop Address</th>
													<th>Amount</th>
													<th>Payment Status</th>
													<th>Ride Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="javascript:void(0)">ID002345</a></td>
													<td>28, Viman Nagar, Pune - 423672</td>
													<td>135, Laxmi Road, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-info">Accepted</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID01023</a></td>
													<td>68, Charu Apartments, Vishal Nagar, Pune</td>
													<td>135, Baner, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-info">Accepted</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID002145</a></td>
													<td>275, Shivaji Nagar, Pune - 423672</td>
													<td>450, Tilak Road, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-info">Accepted</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID002451</a></td>
													<td>16, Hadapsar, Pune - 423672</td>
													<td>2, Swargate, Pune - 423676</td>
													<td>NA</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-info">Accepted</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="pastRides" role="tabpanel">
					<div class="card-body">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Past Rides</h4>
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>User Name</th>
													<th>Pickup Address</th>
													<th>Drop Address</th>
													<th>Amount</th>
													<th>Payment Status</th>
													<th>Ride Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="javascript:void(0)">ID001234</a></td>
													<td>28, Viman Nagar, Pune - 423672</td>
													<td>135, Laxmi Road, Pune - 423676</td>
													<td>Rs. 300</td>
													<td>Paid</td>
													<td>
														<div class="label label-table label-success">Completed</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID003456</a></td>
													<td>68, Charu Apartments, Vishal Nagar, Pune</td>
													<td>135, Baner, Pune - 423676</td>
													<td>Rs. 0</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-danger">Cancelled</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID001244</a></td>
													<td>275, Shivaji Nagar, Pune - 423672</td>
													<td>450, Tilak Road, Pune - 423676</td>
													<td>Rs. 0</td>
													<td>NA</td>
													<td>
														<div class="label label-table label-danger">Cancelled</div>
													</td>
												</tr>
												<tr>
													<td><a href="javascript:void(0)">ID000425</a></td>
													<td>16, Hadapsar, Pune - 423672</td>
													<td>2, Swargate, Pune - 423676</td>
													<td>Rs. 300</td>
													<td>Paid</td>
													<td>
														<div class="label label-table label-success">Completed</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			<!-- Column -->
</div>


<app-right-sidebar></app-right-sidebar>
<app-footer></app-footer>
